<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.myspringboot.mapper.SysRoleMapper">
    <select id="selectRoleListByUserId" resultType="com.xxx.myspringboot.entity.SysRole">
        select a.*
        from sys_role a
                 inner join sys_role_user b on a.id = b.role_id
        where b.user_id = #{userId}
          and b.is_deleted = 0
          and a.is_deleted = 0;
    </select>
</mapper>
