<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.myspringboot.mapper.TreeMapper">
    <delete id="deleteWithChildren">
        DELETE
        FROM tree
        WHERE id IN (WITH RECURSIVE t AS (SELECT id
                                          FROM tree
                                          WHERE id = #{id}
                                          UNION ALL
                                          SELECT t2.id
                                          FROM tree t2
                                                   INNER JOIN t t1 ON t2.parent_id = t1.id)
                     SELECT id
                     FROM t)
    </delete>
</mapper>
